<b>Gracies per registrar-te a {{ site.name }}! </b>
<br><br>
L'ultim pas es activar la teva compta. Pots activar la teva compta a {{ SITE_NAME }} en els proxims {{ expiration_days }} dies.
<br><br>
Activa la teva compta fent click aqui
<p style="margin-left:1em">
      <a href="http://{{ site.domain }}/accounts/activate/{{ activation_key }}/">http://{{ site.domain }}/accounts/activate/{{ activation_key }}</a>
</p>

Tambe pots contestar al missatge amb el seguent text:
<pre style="margin-left:1em">
{{ activation_key }}
</pre>

{% if SITE_ADMIN_EMAIL %}
Fins aviat!
<br>
Si tens qualsevol problema, siusplau envia un correu a <a href="mailto:{{ SITE_ADMIN_EMAIL }}">{{ SITE_ADMIN_EMAIL }}</a>.
{% else %}
Fins aviat!
{% endif %}
