  
<thead>
<tr>
    <th class="header rank rank-number">{{ rank_header or _("Rank") }}</th>
    {% block after_rank_head %}{% endblock %}
    
    <th class="header institution-flag">{{ _('Institution') }}</th>
    <th class="header flag">{{ _('Flag') }}</th>
    <th class="header flag">{% if contest.use_group_names %}{{ _('Group') }}{% else %}{{ _('Username') }}{% endif %}</th>
    <th class="header organization-col">{{ _('Organization') }}</th>
    {% block before_point_head %}{% endblock %}

    <th class="header points">
        {% if sort_links %}<a href="{{ sort_links.performance_points }}">{% endif %}
        {{ _('Points') }}
        {%- if sort_links %}{{ sort_order.performance_points }}</a>{% endif %}
    </th>
    {% block after_point_head %}{% endblock %}
</tr>
</thead>

<tbody>
{% for rank, user in users %}
    <tr id="user-{{ user.user.username }}" {% block row_extra scoped %}{% endblock %}>
        <td class="rank-number">{{ rank }}</td>
        {% block after_rank scoped %}{% endblock %}
        {% with orgs=user.organizations.all(), insts=distinct_institutions(user.organizations.all()) %}

        {% if insts and insts[0].image %}
        <td class="institution-flag"><img src="{{ insts[0].image.url }}" alt="institution flag"></td>
        {% else %}
        <td class="institution-flag"></td>
        {% endif %}
        {% if orgs and orgs[0].logo_override_image %}
        <td class="flag">

         <img src="{{orgs[0].get_image_url()}}" alt="flag">

        </td>
        {% else %}
        <td class="flag"></td>
        {% endif %}
        <td class="user-name">
            {% if contest.use_group_names and user.group_name %}
                {% if can_edit %}
                    <span class="{{ user.css_class }}"><a href="{{ url('user_page', user.user.username) }}">{{ user.group_name }}</a></span>
                {% else %}
                    <span class="{{ user.css_class }}">{{ user.group_name }}</span>
                {% endif %}
            {% else %}
                {{ link_user(user) }}
            {% endif %}
            {% block user_data scoped %}{% endblock %}
        </td>
        <td >
            {% if insts %}
                <span class="user-institutions">
                    {% for inst in insts -%}
                        <a href="{{ inst.get_absolute_url() }}">{{ inst.short_name }}</a>{%- if not loop.last %}, {% endif -%}
                    {% endfor %}
                </span><br>
            {% endif %}
            {% for org in orgs -%}
                <a href="{{ org.get_absolute_url() }}">{{ org.name }}</a>
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
        {% endwith %}
        {% block before_point scoped %}{% endblock %}
        {% block point scoped %}
            <td title="{{ user.performance_points|floatformat(2) }}" class="user-points">
                {{ user.performance_points|floatformat(0) }}
            </td>
        {% endblock %}
        {% block after_point scoped %}{% endblock %}
    </tr>
{% endfor %}
</tbody>