{% extends "common-content.html" %}
{% block content_media %}
    <style>
        .title-state {
            font-size: 2em;
            float: left;
            width: 1.1em;
            display: block;
            margin-top: 0.16em;
        }

        .info-float a {
            vertical-align: middle;
        }

        .problem-clarification {
            border-bottom: 1px solid #ccc;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .clarifications-area h2 {
            margin-bottom: 20px;
        }

        .problem-clarification .body {
            display: inline-block;
            padding-left: 3em;
        }

        #content-right {
            max-width: 12.5em;
            min-width: 12.5em;
        }

        #problem-types, #allowed-langs, #available-judges {
            padding-top: 1em;
        }

        .problem-info-entry {
            padding-top: 0.5em;
        }
    </style>
{% endblock %}


{% block header %}
    <div style="float:right">
        {% if problem.is_editable_by(request.user) %}
            [<a href="{{ url('admin:judge_problem_change', problem.id) }}">{{ _('Edit') }}</a>]
        {% endif %}
    </div>
{% endblock %}


{% block description %}

    {% block js_media %}
        <script src="{{ static('libs/tablesorter.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $(".solvedtable").tablesorter();
            });
        </script>
    {% endblock %}


    {% if request.profile %}
<h2>{{ _('My Organizations') }}</h2>
{{has_submissions }}
{% for org, users in orgs_with_users.items() %}
    <h3>{{ org }}</h3>
    <table class="solvedtable table">
        <thead>
            <tr>
                <th>{{ _('Flag') }}</th>
                <th>{{ _('Username') }}</th>
                <th>{{ _('Organization') }}</th>
                <th>{{ _('Status') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in users %}
            <tr>
                {% with orgs=entry.profile.organizations.all() %}
                <td>
                    {% if orgs and orgs[0].logo_override_image %}
                        <img src="{{ orgs[0].get_image_url() }}" alt="flag" width="90" height="40">
                    {% endif %}
                </td>
                <td>{{ link_user(entry.profile) }}</td>
                <td>
                    {% for o in orgs %}
                        <a href="{{ o.get_absolute_url() }}">{{ o.name }}</a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                {% endwith %}
                <td style="background-color: {{ {'solved': 'green', 'attempted': 'orange', 'unsolved': 'white'}[entry.status] }};">
                    <span style="display:none;">{{ {'solved': 1, 'attempted': 2, 'unsolved': 3}[entry.status] }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}
{% endblock %}


{% block bodyend %}
    {{ super() }}
{% endblock %}
